!!!
%html
  %head
    %title busy_hacker - Weekly email summarizing the hottest Hacker News Posts
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css', :media => 'all'}
  %body
    %h1 busy_hacker
